| email: 
= Settings.email
br
| user_name: 
= Settings.mail_user
br
| password: 
= Settings.mail_password
br
| address: 
= Settings.mail_server
br
| port: 
= Settings.smtp_port
br
| server_name: 
= Settings.server_name
br
| server_port: 
= Settings.server_port
br